In [1]:
import os
import pandas as pd

In [2]:
current_directory = os.path.abspath(os.getcwd())
print(current_directory)
os.chdir(f"{current_directory}/fnc1_Dataset")

C:\Users\cobra\project\project\Data_Preprocessing

In [3]:
fnc1_csv_path_bodies = os.path.join(os.getcwd(), 'train_bodies.csv')
print(fnc1_csv_path_bodies)

C:\Users\cobra\project\project\Data_Preprocessing\fnc1_Dataset\train_bodies.csv

In [4]:
df_1 = pd.read_csv(fnc1_csv_path_bodies)
df_1.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [5]:
df_1.shape

(1683, 2)

In [6]:
fnc1_csv_path_stances = os.path.join(os.getcwd(), 'train_stances.csv')
print(fnc1_csv_path_stances)

C:\Users\cobra\project\project\Data_Preprocessing\fnc1_Dataset\train_stances.csv

In [7]:
df_2 = pd.read_csv(fnc1_csv_path_stances)
df_2.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [8]:
df_2.shape

(49972, 3)

In [9]:
df_3 = pd.merge(df_1, df_2, on= 'Body ID')
df_3.head()

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,"Soldier shot, Parliament locked down after gun...",unrelated
1,0,A small meteorite crashed into a wooded area i...,Tourist dubbed ‘Spider Man’ after spider burro...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Luke Somers 'killed in failed rescue attempt i...,unrelated
3,0,A small meteorite crashed into a wooded area i...,BREAKING: Soldier shot at War Memorial in Ottawa,unrelated
4,0,A small meteorite crashed into a wooded area i...,Giant 8ft 9in catfish weighing 19 stone caught...,unrelated

In [10]:
df_3.shape

(49972, 4)

In [11]:
final_df = df_3[(df_3['Stance'] == 'disagree') | (df_3['Stance'] == 'agree')]
final_df.reset_index(inplace = True)
final_df.drop(columns = ['index'], inplace = True)
final_df.head()

C:\Users\cobra\AppData\Local\Temp\ipykernel_5632\510537326.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns = ['index'], inplace = True)

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,Small Meteorite Strikes in Nicaragua's Capital...,agree
1,8,There is so much fake stuff on the Internet in...,What was fake on the Internet this week: Obama...,agree
2,9,"(CNN) -- A meteorite crashed down in Managua, ...","Meteorite makes big crater in Nicaragua, gover...",agree
3,9,"(CNN) -- A meteorite crashed down in Managua, ...",Small Meteorite Strikes in Nicaragua's Capital...,agree
4,13,A SOLDIER has been shot at Canada’s National W...,A soldier has been shot at Canada’s war memori...,agree

In [12]:
final_df.shape

(4518, 4)

In [13]:
def assign_label(x):
    if x == 'agree':
        return 1
    else:
        return 0

final_df['labels'] = final_df['Stance'].apply(assign_label)
final_df.head()

C:\Users\cobra\AppData\Local\Temp\ipykernel_5632\1111030013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['labels'] = final_df['Stance'].apply(assign_label)

,Body ID,articleBody,Headline,Stance,labels
0,0,A small meteorite crashed into a wooded area i...,Small Meteorite Strikes in Nicaragua's Capital...,agree,1
1,8,There is so much fake stuff on the Internet in...,What was fake on the Internet this week: Obama...,agree,1
2,9,"(CNN) -- A meteorite crashed down in Managua, ...","Meteorite makes big crater in Nicaragua, gover...",agree,1
3,9,"(CNN) -- A meteorite crashed down in Managua, ...",Small Meteorite Strikes in Nicaragua's Capital...,agree,1
4,13,A SOLDIER has been shot at Canada’s National W...,A soldier has been shot at Canada’s war memori...,agree,1

In [14]:
final_df.shape

(4518, 5)

In [15]:
# df_3[df_3['Body ID'] == 0].shape

In [16]:
os.getcwd()

'C:\\Users\\cobra\\project\\project\\Data_Preprocessing\\fnc1_Dataset'

In [17]:
final_df.to_csv('FNC1_Combined_Data.csv', index=False)